.vl {
    border-left: 1px solid rgb(255, 255, 255);
    height: 20px;
}

.f-s-8{
    font:.9rem sans-serif;
}
.dropdown-content {
    display: none; }
.dropdown:hover .dropdown-content {display: block;}

.h-600{
    height: 550px;
}
.cosnav{
    position: sticky;
    top: 0;
    z-index: 5000;
    background: white;
}
.p-ab{
    position: absolute;
    top: 28%;
    left: 10%;
    text-align: center;
}
.card-img-overlay{
    background-color: rgba(0, 0, 0, 0.747);
}
.f-3{
    font-size: 3rem;
}
.px-19{
    padding: 2% 23%;

}
.btn-size{
    width: 20%;
    height: 3rem;
}
.f-17{
    font-size: 17px !important;
}


.carousel-indicators {
    right: 7%;
    display: inline-block;
    left: auto;
    bottom: 40%;
    margin-right: 0;
}
.carousel-indicators [data-bs-target] {
    display: block;
    margin-top: 65%;
    width: 10px;
    height: 10px;
    transition: 1s;
    border: 1px solid transparent;
}


.carousel-indicators [data-bs-target]:hover{
    background-color: transparent;
border: 1px solid white;
} 
.doubl-line {
    width: 262px;
    font: 34px Arial;
    font-weight: normal;
    text-align: right;
    position: relative;
    display: block;
    margin: 2% auto;
  }
  
  h3 span {
    background: #fff; 
    margin-right: 15%;
    padding: 0 20px;
  }
  
  .doubl-line:before {
    content: "";
    width: 120%;
    left: -10px;
    top: 50%;
    margin-top: -4px;
    position: absolute;
    z-index: -1;
    height: 0;
    border-top: 2px solid rgb(0, 17, 255);
  }
  .s-doubl-line:before {
    content: "";
    width: 100%;
    left: 20px;
    top: 71%;
    margin-top: -4px;
    position: absolute;
    z-index: -1;
    height: 0;
    border-top: 2px solid rgb(0, 17, 255);
  }
 .h-img{
      height: 459px;
  }
  .h-card{
      height: 438px;
      z-index: 4;
      background: white;
      margin-top: 1% !important;
      transform: translateX(33px);
  }
  .f-13{
      font-size: 13px;
  }
  .doubl-line {
    width: 262px;
    font: 34px Arial;
    font-weight: normal;
    text-align: right;
    position: relative;
    display: block;
    margin: 2% auto;
  }
  
  .b-span {
    background: rgb(255, 255, 255); 
    margin-right: 15%;
    padding: 0 20px;
  }
  
  .doubl-line:before {
    content: "";
    width: 120%;
    left: -10px;
    top: 50%;
    margin-top: -4px;
    position: absolute;
    z-index: -1;
    height: 0;
    border-top: 2px solid rgb(0, 17, 255);
  }
  .s-doubl-line:before {
    content: "";
    width: 100%;
    left: 20px;
    top: 71%;
    margin-top: -4px;
    position: absolute;
    z-index: -1;
    height: 0;
    border-top: 2px solid rgb(0, 17, 255);
  }
  



  .custom-line::before {
    content: "";
    height: 3px;
    width: 50px;
    background-color: rgb(0, 17, 255);
    position: absolute;
    left: -41%;
    top: 51%;

  }
  .custom-line::after{
    content: "";
    height: 3px;
    width: 50px;
    background-color: rgb(0, 17, 255);
    position: absolute;
    right: -41%;
    top: 51%;
  }
  .scustom-line::before {
    content: "";
    height: 3px;
    width: 75px;
    background-color: rgb(0, 17, 255);
    position: absolute;
    left: -55%;
    top: 70%;

  }
  .scustom-line::after{
    content: "";
    height: 3px;
    width: 86px;
    background-color: rgb(0, 17, 255);
    position: absolute;
    right: -62%;
    top: 70%;
}
.h-700{
    height: 700px;
}
.p-0-13{

    padding: 0 13%;
}
.h-200{
    height: 200px;
    padding: 5%;

}
.gray-border{
    border: 1px solid #737272;
}
.cos-card-hide{
    left: 0%;
    top: 22%;
    background-color: white;
    opacity: 0;
    transform: translateY(53px) scaley(.01);
}

.custm-hover:hover .cos-card-hide{
    opacity: 1;
    transform: translatey(-43px);
    transition: .5s;

}
.h-300imag{
    height: 335px;
}
.cos-anmite-scale{
    left: 0%;
    bottom: 1%;
    opacity: 0;
    transform: scalex(.01);
    padding: 1% 6%;

}
.custm-hover:hover .cos-anmite-scale{
    opacity: .8;
    transform: scale(1);
    transition: .5s;

}
.ml-28{
    margin-left: 28%;

}
.ml-4{
    margin-left: 7rem;
}
.w-31{
    width: 31% !important;
}
a{
    text-decoration: none;
}
a:hover{
    color: blue !important;
}
.custm-hover:hover{
    box-shadow: 1px 1px 15px grey;
}
.cos-card-img-hide{
    left: 0%;
    bottom: -11%;
    background-color: white;
    opacity: 0;
    transform: translateY(53px) scaley(.01);
}
.h-500{
    height: 400px;
}
.custm-hover:hove:hover cos-card-img-hide{
    opacity: 1;
    transform: translatey(-43px);
    transition: .1s;
}
.border-botton-2{
    border-bottom: 3px solid black;
}
.shadow-top{
    box-shadow: 0px -5px 7px #e9ecef;
}
.cos-img-hide{
    background-color: white;
    opacity: 0;
    transform: translateY(53px) scaley(.01);
    bottom: -9%;
}
.custm-hover:hover .cos-img-hide{
    opacity: 1;
    transform: translatey(-43px);
    transition: .3s;
    transition-timing-function: ease-out;
    box-shadow: 0px -5px 7px #e9ecef;

}
.p-5-15{
    padding: 4% 15%;
}
.border-t-reduse{
    border-top-left-radius: .5rem!important;
    border-top-right-radius: .5rem!important;
}
.black-hover{
    color: white;
}
.black-hover:hover{
    color: #000 !important;
}
.shadow-0{
    box-shadow: none !important;
}